@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2);
}

.light {
  --color-fore-primary: rgba(17, 24, 39, 1);
  --color-fore-secondary: rgba(75, 85, 99, 1);
  --color-fore-accent: rgba(249, 250, 251, 1);

  --color-back-primary: rgba(249, 250, 251, 1);

  --color-gradient-accent1: hsla(245, 58%, 51%, 1);
  --color-gradient-accent2: hsla(217, 91%, 60%, 1);
}

.dark {
  --color-fore-primary: rgba(249, 250, 251, 1);
  --color-fore-secondary: rgba(209, 213, 219, 1);
  --color-fore-accent: rgba(249, 250, 251, 1);

  --color-back-primary: rgba(31, 41, 55, 1);

  --color-gradient-accent1: hsla(245, 58%, 51%, 1);
  --color-gradient-accent2: hsla(217, 91%, 60%, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl font-semibold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  a {
    @apply text-secondary;
  }

  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }

  body {
    @apply overflow-x-hidden antialiased bg-primary text-primary;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
}
