@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/Inter.var.woff2);
}

@tailwind base;

@layer base {
  h1 {
    @apply text-6xl font-semibold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  a {
    @apply text-gray-600 dark:text-gray-300;
  }

  html {
    scroll-behavior: smooth;
    @apply overflow-x-hidden;
  }

  body {
    @apply overflow-x-hidden antialiased bg-white dark:bg-gray-800 text-gray-900 dark:text-white;
  }

  .btn {
    @apply font-bold py-2 px-4 rounded dark:text-white text-white;
  }
}

@tailwind components;
@tailwind utilities;
